<section class="add-user-form text-center">
  <h1>Add New User</h1>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
          <input type="text" placeholder="Name" formControlName="name"> 
      </div>
      <div class="form-control">
          <input type="email" placeholder="Email" formControlName="email"> 
      </div>
      <div class="form-control">
          <input type="text" placeholder="Contact" formControlName="contact"> 
      </div>
      <div class="btn-outer">
          <button type="submit" class="btn add-user" [disabled]= !addUserForm.valid>Submit</button>
      </div>
  </form>
</section>